/* Display */

.screenonly-block { display: block !important; }
.screenonly-inline { display: inline !important; }

/* Layout */

body { padding-left: 16em; }

#TOC {
	box-sizing: border-box; -moz-box-sizing: border-box;
	position: fixed; top: 0; left: 0;
	height: 100%; width: 16em;
	overflow: auto;
	padding-right: 0.8em;
	margin: 0;
}

#TOC ul {
	padding-left: 1em;
	list-style-type: none;
	display: block;
}

#TOC li { position: relative; }

#TOC li > a {
	display: block;
	width: 16em;
	height: 100%;
	text-decoration: none;
}

#TOC li > a:hover { background: #f66; }

#TOC .toggle {
	position: absolute;
	left: -0.8em;
	cursor: pointer;
}
