/* Printing */

.pg-bk-b { page-break-before: always; }
.pg-bk-a { page-break-after: always; }

h1 { page-break-before: always; }
h1.title { page-break-before: auto; }

/* Formatting */

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .footnoteRef {
	text-decoration: none;
	color: black;
}

body {
	font-size: 12pt;
	text-align: justify;
	font-family: "Georgia";
}

code {
	font-size: 10.5pt
}

.footnotes > hr, .footnoteBackLink { display: none; }
.footnotes, .fnholder { font-size: 85%; }
.fnholder p { margin: 0; }
.fnline {
	width: 25%;
	margin: auto 0 0;
}

/* Layout */

#mainmenu { display: none; }

#TOC > ul {
	margin-left: -0.2em;
}

#TOC li {
	list-style-type: decimal;
	/*border-left: 1pt ridge black;*/
	margin-left: 1em;
}

#TOC li > span {
/*#TOC li > a {*/
	display: block;
	text-decoration: none;
	border-bottom: 1px dotted black;
	color: black;
}

#TOC li div.pageno {
	float: right;
}

#TOC > ul > li {
	list-style-type: none;
	margin-left: -1em;
}
